
/* vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2 cc=76; */

/**
 * Bubble styles.
 *
 * @package     omeka
 * @subpackage  neatline
 * @copyright   2012 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */


#static-bubble
  overflow-y auto
  position absolute
  z-index 999
  background white
  border-radius 2px
  color black
  padding 1em
  max-height 90%
  max-width 400px
  left 70px
  top 20px
  opacity 0.85

  .close
    display none
    cursor pointer
    float right
    margin-left 0.3em

  .title
    display inline
    font-size 2em
    line-height 1em

  .body
    display none
    margin-top 0.7em

  &.frozen
    opacity 0.9

  &.body
    .close,
    .body
      display block

#neatline
  #static-bubble
    display none

    &.bound
      display block
