spec/javascripts/fixtures/
spec/javascripts/helpers/components/
views/shared/javascripts/components/
views/shared/javascripts/tests/helpers/components/
views/shared/javascripts/payloads/
views/shared/javascripts/tests/payloads/
views/shared/css/payloads/
views/shared/css/img/
node_modules/
build/api/
build/code-browser/
build/coverage/
build/dist/
build/logs/
build/pdepend/
build/tmp/
.DS_Store
