.DS_Store
node_modules
components
.grunt

_SpecRunner.html

views/admin/javascripts/payloads
views/shared/javascripts/payloads

views/admin/css/payloads
views/shared/css/payloads
views/shared/css/img

tests/jasmine/fixtures
