<phpunit bootstrap="../../../application/tests/bootstrap.php"
         convertErrorsToExceptions="true"
         convertWarningsToExceptions="true"
         verbose="true">
    <php>
      <includePath>..</includePath>
      <includePath>../../..</includePath>
    </php>
    <testsuite name="Neatline Tests">
        <directory>unit</directory>
        <directory>integration</directory>
        <directory>fixtures</directory>
    </testsuite>
</phpunit>
