
/* vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2 cc=76; */

/**
 * Bubble styles.
 *
 * @package     omeka
 * @subpackage  neatline
 * @copyright   2012 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */


#bubble
  overflow hidden
  position fixed
  z-index 999
  border 1px solid rgba(0, 0, 0, 0.2)
  box-shadow 0 5px 10px rgba(0, 0, 0, 0.3)
  background #fcfcfc
  padding 5px 10px
