
/* vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2 cc=76; */

/**
 * Medium bubble styles.
 *
 * @package     omeka
 * @subpackage  neatline
 * @copyright   2012 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */


#medium-bubble

  .body
    display none

  &.frozen
    padding 1em 2em

    .title
      font-size 2em
      line-height 1.4em
      margin 0.4em 0
