
/* vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2 cc=76; */

/**
 * Bubble styles.
 *
 * @package     omeka
 * @subpackage  neatline
 * @copyright   2012 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */


#static-bubble
  overflow hidden
  position absolute
  z-index 999
  border 1px solid rgba(0, 0, 0, 0.2)
  box-shadow 0 3px 8px rgba(0, 0, 0, 0.3)
  background #fcfcfc
  padding 1.3em 1em
  max-width 300px
  left 70px
  top 15px

  .title
    font-size 2em
    font-weight bold

  .body
    display none
    white-space pre-wrap

  &.frozen

    .title
      margin-bottom 0.4em
