
/**
 * @package     omeka
 * @subpackage  neatline
 * @copyright   2014 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */


.olTileImage

  -webkit-transform none !important
  -webkit-transition none !important
  -webkit-backface-visibility visible !important
  -webkit-perspective none !important

  -moz-transform none !important
  -moz-transition none !important
  -moz-backface-visibility visible !important
  -moz-perspective none !important

.olControlLayerSwitcher
  font-size 12px

  .layersDiv
    background-color #4b4b4b
    border-radius 3px 0 0 3px

    .baseLayersDiv
      padding 0 0 5px 5px

      label
        font-weight normal
        display inline

      input
        margin 0 5px 0 0

.olImageLoadError
  display none !important
