
/* vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2 cc=80; */

/**
 * @package     omeka
 * @subpackage  neatline
 * @copyright   2012 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */


/*
.olLayerGrid .olTileImage
  -webkit-transform none
  -webkit-transition none
  -webkit-backface-visibility visible
  -webkit-perspective none
*/

.olControlLayerSwitcher
  font-size 12px

  .layersDiv
    background-color #4b4b4b
    border-radius 3px 0 0 3px

    .baseLayersDiv
      padding 0 0 5px 5px

      label
        font-weight normal
        display inline

      input
        margin 0 5px 0 0
