<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Neatline Spec Runner</title>
<% css.forEach(function(style){ %>
  <link rel="stylesheet" type="text/css" href="<%= style %>">
<% }) %>
<% with (scripts) { %>
  <% [].concat(jasmine, boot, src, vendor, helpers, specs, reporters).forEach(function(script){ %>
  <script src="<%= script %>"></script>
  <% }) %>
<% }; %>
</head>
<body>
</body>
</html>
