
/* vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2 cc=76; */

/**
 * Editor styles.
 *
 * @package     omeka
 * @subpackage  neatline
 * @copyright   2012 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */


@import '_colors'
@import '_constants'
@import '_mixins'


body
  margin 0
  text-rendering optimizeLegibility

#editor
#neatline
  position absolute
  box-sizing border-box

#neatline
  -webkit-user-select none
  -moz-user-select none


// Left edit pane.
// ---------------

#editor
  background #fcfcfc
  width editorWidth
  overflow-y scroll
  overflow-x hidden

  header
    margin 1.6em

    p.lead
      font-weight bold

    // Search/buttons.
    // ---------------

    #search
      input
        &.bold
          font-weight bold

  // Records list.
  // -------------

  ul.records
    margin 0

    li
      list-style none
      cursor pointer
      font-size 14px
      font-weight 300
      padding 0.2em 1.6em
      border-top 1px solid #f0f0f0
      white-space nowrap

      &:hover
        background #08c
        color white

      .record-title
        font-weight bold

  // Edit form.
  // ----------

  form
    margin 1.6em

    button.close
      font-size 3em
      line-height 1em
      margin-top -10px
      margin-left 5px

    ul.nav
      margin-top 20px

    h3.head
      font-size 2em
      font-weight 300

    textarea
    input[type="text"]
      width 95%

      &[name="title"]
        height 100px

      &[name="body"]
        height 300px

    // Spatial tab.
    // ------------

    #form-spatial

      label.radio
      label.checkbox
        cursor pointer

        &:hover
          color #08C

      label.radio
        margin-left 0.5em

      div.control-group.indent
        margin-left 1.4em

        &.regular-polygon

          .inline-inputs
            margin-bottom 5px

          input[type="text"]
            display inline
            line-height 1em
            width 20px
            padding 0 5px
            margin 0

      textarea[name="coverage"]
        height 80px
        font-family Consolas
        font-weight bold
        font-size 11px

    // Spatial tab.
    // ------------

    #form-style

      div.controls:last-child
        margin-bottom 10px

    // Form buttons.
    // -------------

    .actions

      a
        margin-right 5px

        &[name="save"]
          width 80px
