/**
 * Editor styles.
 *
 * @package     omeka
 * @subpackage  neatline
 * @copyright   2012 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */


@import 'colors'
@import 'constants'
@import 'mixins'


body
  margin 0
  text-rendering optimizeLegibility

#editor
#neatline
  position absolute
  box-sizing border-box

#neatline
  -webkit-user-select none
  -moz-user-select none


// Left edit pane.
// ---------------

#editor
  background #fcfcfc
  width editorWidth
  overflow-y scroll
  overflow-x hidden

  // Search/buttons.
  // ---------------

  #menu
    margin 1em

  #search
    input
      &.bold
        font-weight bold

  // Records list.
  // -------------

  ul.records
    margin 0

    li
      list-style none
      cursor pointer
      font-size 14px
      font-weight 300
      padding 0.2em 1em
      border-bottom 1px solid #f0f0f0
      white-space nowrap

      &:hover
        background #08c
        color white

      .record-title
        font-weight bold

  // Edit form.
  // ----------

  form
    margin 1.6em

    ul.nav
      margin-top 20px

      li
        margin-right 8px

      a
        font-size 18px
        font-weight 300

    h3.head
      font-size 2em
      font-weight 300

    textarea
    input[type="text"]
      width 95%

      &[name="title"]
        height 100px

      &[name="body"]
        height 300px

    // Spatial tab.
    // ------------

    #form-spatial

      label.radio
      label.checkbox
        cursor pointer

        &:hover
          color #08C

      label.radio
        margin-left 0.5em

      div.control-group.indent
        margin-left 1.4em

        &.regular-polygon

          .inline-inputs
            margin-bottom 5px

          input[type="text"]
            display inline
            line-height 1em
            width 20px
            padding 0 5px
            margin 0

      textarea[name="coverage"]
        height 80px
        font-family Consolas
        font-weight bold
        font-size 11px

    // Form buttons.
    // -------------

    .form-actions
      background transparent
      padding-left 0

      button
        margin-right 5px
