/**
 * Bootstrap overrides.
 *
 * @package     omeka
 * @subpackage  neatline
 * @copyright   2012 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */


#search

  button
    // font-size 13px
    border-radius 0 1px 1px 0

  input
    // font-size 13px
    border-radius 1px 0 0 1px
