/**
 * Constants.
 *
 * @package     omeka
 * @subpackage  neatline
 * @copyright   2012 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */


neatlineColor   = #5b396c
highlightColor  = #08c
textColor       = #333
borderColor     = #d9d9d9
editorWidth     = 340px
editorMargin    = 1.6em
menuHeight      = 70px
