
/* vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2 cc=76; */

/**
 * @package     omeka
 * @subpackage  neatline
 * @copyright   2012 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */


@import 'var'


textarea 
input[type="text"]
  box-shadow none
  border-radius 2px
  border-color $borderColor

  &:focus
    box-shadow none
    border-color $accentColor

a
  color #5b396c 

.btn-primary
  background-color hsl(280,48%,33%) !important
  background-repeat repeat-x
  background-image -khtml-gradient(linear, left top, left bottom, from(#9a4dc0), to(#612b7c))
  background-image -moz-linear-gradient(top, #9a4dc0, #612b7c)
  background-image -ms-linear-gradient(top, #9a4dc0, #612b7c) 
  background-image -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9a4dc0), color-stop(100%, #612b7c)) 
  background-image -webkit-linear-gradient(top, #9a4dc0, #612b7c) 
  background-image -o-linear-gradient(top, #9a4dc0, #612b7c) 
  background-image linear-gradient(#9a4dc0, #612b7c) 
  border-color #612b7c #612b7c hsl(280, 48%, 28%) 
  color #fff !important 
  text-shadow 0 -1px 0 rgba(0, 0, 0, 0.33) 
  -webkit-font-smoothing antialiased
 
.nav-pills li a
  border-radius 2px
  padding 5px 6px 
  color #5b396c

  &:hover
    background-color #5b396c
    color #ffffff

  &:focus
    background-color #5b396c
    color #ffffff

.nav-pills .active a
   background-color #5b396c
   color #ffffff

   &:hover
    background-color #5b396c
    color #ffffff

   &:focus
    background-color #5b396c
    color #ffffff

   &:visited
    background-color #5b396c
    color #ffffff

.modal-backdrop
  opacity 0.3

.tab-content
  overflow hidden

.lead
  font-size 18px

#editor .dropdown-menu
  border-radius 2px
  min-width 0

  li a
    padding 3px 8px
