
/* vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2 cc=80; */

/**
 * @package     omeka
 * @subpackage  neatline
 * @copyright   2012 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */


body, h1, h2, h3, h4, h5, h6
  font-family "Open Sans"

.btn,
.nav-pills > li > a,
.form-control,
.modal-content
  border-radius 2px

ul.nav a
  padding 5px 10px

.form-control
  box-shadow none
  height 32px
  padding 8px

  &:focus
    background darken(white, 2%)

.radio,
.checkbox
  margin-top 0

label
  white-space nowrap
  font-weight bold
  font-size 13px

legend
  margin 10px 0 20px 0

.modal-backdrop
  opacity 0.3

.tab-content
  overflow visible

.lead
  font-size 18px

ul.dropdown-menu
  border-radius 2px
  min-width 0

  li a
    padding 3px 8px

hr
  margin 10px 0
