
/**
 * @package     omeka
 * @subpackage  neatline
 * @copyright   2014 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */


.btn,
.nav-pills > li > a,
.form-control,
.modal-content
  border-radius 2px

ul.nav a
  padding 5px 8px

.form-control
  box-shadow none
  height 32px
  padding 8px

  &:focus
    background darken(white, 2%)

.radio,
.checkbox
  margin-top 0

label
  white-space nowrap
  font-weight bold
  font-size 13px

legend
  margin 10px 0 20px 0

.modal-backdrop.in
  opacity 0.2

.tab-content
  overflow visible

.lead
  font-size 18px

ul.dropdown-menu
  border-radius 2px
  min-width 0

  li a
    padding 3px 8px

hr
  margin 10px 0
