/**
 * Editor styles.
 *
 * @package     omeka
 * @subpackage  neatline
 * @copyright   2012 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */

body
  margin 0
  text-rendering optimizeLegibility

#editor
#drag-handle
#neatline
  position absolute
  box-sizing border-box

#neatline
  -webkit-user-select none
  -moz-user-select none

#drag-handle
  z-index 999
  width 10px
  cursor col-resize

  &:hover
    border-left 2px dashed gray
