/**
 * Editor styles.
 *
 * @package     omeka
 * @subpackage  neatline
 * @copyright   2012 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */

@import 'colors'
@import 'mixins'

body
  margin 0
  text-rendering optimizeLegibility

#editor
#drag-handle
#neatline
  position absolute
  box-sizing border-box

#neatline
  -webkit-user-select none
  -moz-user-select none

#neatline-map
  img
    max-width none

#drag-handle
  z-index 999
  width 20px
  cursor col-resize
  opacity 0.5

  &:hover
    border-left 3px dashed black

  &.dragging
    border-left 3px solid black

#editor
  width 380px
  background #fcfcfc
  overflow-y scroll
  overflow-x hidden

  .title
    purple-gradient()
    height 50px

  .header
    gray-gradient()
    height 50px
