
/* vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2 cc=76; */

/**
 * Bootstrap overrides.
 *
 * @package     omeka
 * @subpackage  neatline
 * @copyright   2012 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */


@import 'var'


textarea
input[type="text"]
  box-shadow none
  border-radius 2px
  border-color $borderColor

  &:focus
    box-shadow none
    border-color $accentColor

.nav-pills li a
  border-radius 2px
  padding 4px 5px
  font-size 12px

.modal-backdrop
  opacity 0.3

.tab-content
  overflow hidden

.lead
  font-size 16px

#editor .dropdown-menu
  border-radius 2px
  min-width 0

  li a
    padding 3px 8px
