
/* vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2 cc=76; */

/**
 * Bootstrap overrides.
 *
 * @package     omeka
 * @subpackage  neatline
 * @copyright   2012 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */


@import 'var'


textarea
input[type="text"]
  box-shadow none
  border-radius 0
  border-color $borderColor

  &:focus
    box-shadow none
    border-color $accentColor

.nav-pills > li > a
  border-radius 3px

.modal-backdrop
  opacity 0.3

.tab-content
  overflow hidden
