
/* vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2 cc=76; */

/**
 * Form styles.
 *
 * @package     omeka
 * @subpackage  neatline
 * @copyright   2012 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */


@import 'var'


#editor

  form.record
  form.tag
    margin editorMargin

    legend
      font-weight bold

    button.close
      font-size 3em
      line-height 1em
      margin-top -10px
      margin-left 5px

    ul.nav
      margin-top 20px

    h3.head
      font-size 2em
      font-weight 300

    textarea
    input[type="text"]
      width 95%

      &[name="title"]
        height 100px

      &[name="body"]
        height 300px

    #form-spatial

      label.radio
      label.checkbox
        cursor pointer

        &:hover
          color #08C

      label.radio
        margin-left 0.5em

      div.control-group.indent
        margin-left 1.4em

        &.regular-polygon

          .inline-inputs
            margin-bottom 5px

          input[type="text"]
            display inline
            line-height 1em
            width 20px
            padding 0 5px
            margin 0

      textarea[name="coverage"]
        height 50px
        font-size 11px
        font-family Consolas
        font-weight bold

      button[name="focus-map"]
        margin 5px 0 10px

    #form-style

      div.controls:last-child
        margin-bottom 10px

    .actions
      margin-top 1em

      a
        margin-right 5px

        &[name="save"]
          width 80px
