
/**
 * @package     omeka
 * @subpackage  neatline
 * @copyright   2014 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */


#record-map
  margin 0 1px

  label.radio
  label.checkbox
    margin-bottom 8px
    cursor pointer

  label.radio
    margin-left 0.5em

  div.regular-polygon
    margin-left 1em

    .form-group
      margin-bottom 8px

    input[type="text"]
      display inline
      margin 0 4px 0 0
      font-size 13px
      width 40px

    label
      font-weight normal

  a[name="clear"]
    margin 0.5em 0

  textarea.code
    font-family Courier
    font-size 11px

  textarea[name="coverage"]
    height 200px
