
/**
 * @package     omeka
 * @subpackage  neatline
 * @copyright   2014 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */


#record-item

  .select2-container
    margin-bottom 2em

  div.preview
    overflow hidden

    div.element-set:first-child h2:first-child
      margin-top 0
