
/**
 * @package     omeka
 * @subpackage  neatline
 * @copyright   2014 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */


div.records

  a.add
    width 100%

  div.list-group
    margin 1.3em 0

    a
      display block
      padding 5px 10px

      .title
        font-weight 600
        font-size 13px

      .body
        font-size 12px
        color $textColor
