
/**
 * @package     omeka
 * @subpackage  neatline
 * @copyright   2014 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */


form.record
  margin-top 0

  span.id
    font-weight bold

  a.label-link
    font-size 12px
    font-weight normal
    cursor pointer

  a.help
    font-weight bold
    font-size 12px
