
/* vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2 cc=80; */

/**
 * @package     omeka
 * @subpackage  neatline
 * @copyright   2012 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */


form.record
  margin-top 0

  span.id
    font-weight bold

  a.label-link
    font-size 12px
    font-weight normal
    cursor pointer

  #record-text

    textarea
      height 160px

  #record-item

    div.item
      margin-top 2em
      zoom 0.5

  #record-map
    margin 0 1px

    label.radio
    label.checkbox
      margin-bottom 8px
      cursor pointer

    label.radio
      margin-left 0.5em

    div.regular-polygon
      margin-left 1em

      .form-group
        margin-bottom 8px

      input[type="text"]
        display inline
        margin 0 4px 0 0
        width 40px

    a[name="clear"]
      margin 0.5em 0

    textarea.code
      font-family Consolas
      font-size 11px

    textarea[name="coverage"]
      height 80px

  #record-style
    margin-bottom 1.4em

    button[name="focus-map"]
      margin 5px 0 10px
