
/* vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2 cc=76; */

/**
 * Styles tab styles.
 *
 * @package     omeka
 * @subpackage  neatline
 * @copyright   2012 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */


@import 'var'


#editor

  form.styles
    padding-top 0

    .control-group
      margin-bottom 2.4em

    #styles
      position relative
      height 400px
      border 1px solid $borderColor
      margin-bottom 20px
