
/**
 * @package     omeka
 * @subpackage  neatline
 * @copyright   2014 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */


form.styles
  margin-top $editorPadding

  #styles
    position relative
    border 1px solid $borderColor
    margin-bottom 20px
    height 300px

  .btn
    margin-bottom 20px
