<phpunit bootstrap="bootstrap.php"
         convertErrorsToExceptions="true"
         convertWarningsToExceptions="true"
         verbose="true">
    <testsuite name="Neatline Tests">
        <directory>unit</directory>
        <directory>integration</directory>
        <directory>migrations</directory>
        <directory>fixtures</directory>
    </testsuite>
</phpunit>
