<phpunit bootstrap="bootstrap.php"
         convertErrorsToExceptions="true"
         convertWarningsToExceptions="true"
         verbose="true">

    <testsuites>

        <testsuite name="application">
            <directory>tests/unit</directory>
            <directory>tests/integration</directory>
            <directory>tests/fixtures</directory>
        </testsuite>

        <testsuite name="migrations">
            <directory>tests/migrations</directory>
        </testsuite>

    </testsuites>

</phpunit>
